// File: packages/styles/scss/components/_navbar.scss
// Description: Navigation bar component styles.

.navbar {
  @include flex-container($justify: space-between, $align: center);
  padding: var(--#{$prefix}navbar-padding-y) var(--#{$prefix}navbar-padding-x);
  color: var(--#{$prefix}navbar-text-color);
  background-color: var(--#{$prefix}navbar-bg-color);
}

.navbar-logo {
  @include flex-container($align: center);
  gap: var(--#{$prefix}navbar-logo-gap);
  font-size: var(--#{$prefix}navbar-logo-font-size);
  color: var(--#{$prefix}navbar-logo-color);

  @include breakpoint(lg) {
    flex: 1 1 0%;
  }
}

.navbar-nav {
  display: none;

  @include breakpoint(lg) {
    @include flex-container($align: center);
    gap: var(--#{$prefix}navbar-nav-gap);
  }
}

.navbar-extras {
  display: none;

  @include breakpoint(lg) {
    @include flex-container($justify: flex-end);
    flex: 1 1 0%;
  }
}

.navbar-toggle {
  margin-right: calc(-1 * $btn-padding-x);
  cursor: pointer;

  @include breakpoint(lg) {
    display: none;
  }
}
