.breadcrumb {
  display: flex;
}

.breadcrumb-item:not(:first-child)::before {
  content: "/";
  margin: 0 0.5rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: var(--eq-text-color);
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #000;
  color: #fff;
}
.btn-primary:hover {
  background-color: #1a1a1a;
}

.btn-secondary {
  background-color: #999999;
  color: #000;
}
.btn-secondary:hover {
  background-color: #a3a3a3;
}

.btn-danger {
  background-color: #e63946;
  color: #000;
}
.btn-danger:hover {
  background-color: #e94d59;
}

.btn-warning {
  background-color: #ffee32;
  color: #000;
}
.btn-warning:hover {
  background-color: #fff047;
}

.btn-success {
  background-color: #2dc653;
  color: #000;
}
.btn-success:hover {
  background-color: #42cc64;
}

.btn-info {
  background-color: #00a8e8;
  color: #000;
}
.btn-info:hover {
  background-color: #1ab1ea;
}

.menu {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  padding: var(--eq-menu-padding-y) var(--eq-menu-padding-x);
  color: var(--eq-menu-text-color);
  background-color: var(--eq-menu-bg-color);
}
@media (min-width: 576px) {
  .menu {
    width: var(--eq-menu-width);
  }
}
.menu.show {
  display: flex;
  flex-direction: column;
  gap: var(--eq-menu-padding-y);
}
.menu.menu-left {
  top: 0;
  left: 0;
}
@media (min-width: 576px) {
  .menu.menu-left {
    border-right: var(--eq-menu-border-width) solid var(--eq-menu-border-color);
  }
}
.menu.menu-right {
  top: 0;
  right: 0;
}
@media (min-width: 576px) {
  .menu.menu-right {
    border-left: var(--eq-menu-border-width) solid var(--eq-menu-border-color);
  }
}
.menu.menu-top {
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
}
@media (min-width: 576px) {
  .menu.menu-top {
    border-bottom: var(--eq-menu-border-width) solid var(--eq-menu-border-color);
  }
}
.menu.menu-bottom {
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
@media (min-width: 576px) {
  .menu.menu-bottom {
    border-top: var(--eq-menu-border-width) solid var(--eq-menu-border-color);
  }
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-header .menu-close {
  margin-right: -1rem;
}

.menu-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.menu-footer {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar-logo {
  display: flex;
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  .navbar-logo {
    flex: 1 1 0%;
  }
}

.navbar-nav {
  display: none;
}
@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

.navbar-extras {
  display: none;
}
@media (min-width: 992px) {
  .navbar-extras {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0%;
  }
}

.navbar-menu-toggle {
  display: flex;
  border: none;
  font-size: 1.25rem;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 992px) {
  .navbar-menu-toggle {
    display: none;
  }
}
