:root,
[data-eq-theme=light] {
  color-scheme: light;
  --eq-font-family-base: Roboto, Arial, Helvetica, sans-serif;
  --eq-font-family-code: Consolas, "Courier New", Courier, monospace;
  --eq-font-size-base: 1rem;
  --eq-font-weight-base: 400;
  --eq-line-height-base: 1.5;
  --eq-text-color: #000;
  --eq-bg-color: #fff;
  --eq-headings-font-family: var(--eq-font-family-base);
  --eq-headings-color: var(--eq-text-color);
}

[data-eq-theme=dark] {
  color-scheme: dark;
  --eq-text-color: #fff;
  --eq-bg-color: #171717;
  --eq-headings-color: var(--eq-text-color);
}
