:root,
[data-eq-theme=light] {
  color-scheme: light;
  --eq-font-family-base: Roboto, Arial, Helvetica, sans-serif;
  --eq-font-family-code: Consolas, "Courier New", Courier, monospace;
  --eq-font-size-base: 1rem;
  --eq-font-weight-base: 400;
  --eq-line-height-base: 1.5;
  --eq-text-color: #000;
  --eq-bg-color: #fff;
  --eq-headings-font-family: var(--eq-font-family-base);
  --eq-headings-color: var(--eq-text-color);
  /* Menu */
  --eq-menu-width: 350px;
  --eq-menu-padding-y: 1rem;
  --eq-menu-padding-x: 2rem;
  --eq-menu-border-width: 1px;
  --eq-menu-border-color: #bfbfbf;
  --eq-menu-text-color: var(--eq-text-color);
  --eq-menu-bg-color: var(--eq-bg-color);
  /* Navbar */
  --eq-navbar-padding-y: 1rem;
  --eq-navbar-padding-x: 2rem;
  --eq-navbar-text-color: var(--eq-text-color);
  --eq-navbar-bg-color: var(--eq-bg-color);
}

[data-eq-theme=dark] {
  color-scheme: dark;
  --eq-text-color: #fff;
  --eq-bg-color: #171717;
  --eq-headings-color: var(--eq-text-color);
  /* Menu */
  --eq-menu-border-color: #4d4d4d;
  --eq-menu-text-color: var(--eq-text-color);
  --eq-menu-bg-color: var(--eq-bg-color);
  /* Navbar */
  --eq-navbar-text-color: var(--eq-text-color);
  --eq-navbar-bg-color: var(--eq-bg-color);
}
